body {
    color: $black;
    overflow-x: hidden;
    font-weight: normal;
    position: relative;
    font-size: 14px;
    line-height: 1.2;
    font-family: $nunito;
}

*{
    outline: none;

    &:focus, &:active{
        outline: none !important;
    }
}

a{
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    cursor: pointer !important;
    color: $primary;
}

ul, ol{
    li{
        font-weight: 400;
    }
}

.main{
    overflow: hidden;
    min-height: 100%;
}
.container{
    position: relative;
    z-index: 3;
}
section{
    padding: 100px 0;
    position: relative;
    background-size: cover;
    z-index: 2;
}

.section-title{
    position: relative;

    h3{
        font-size: 24px;
        margin-bottom: 20px;
        color: $black;
        font-weight: 700;
    }

    &-lg{
        h3{
            color: $primary;
            font-size: 48px;
            font-weight: 900;
            margin-bottom: 50px;

            @include device(mobile){
                font-size: 34px;
            }
        }
    }
}

