.page{
  &--product{
    padding-top: 50px;

    &-detail{
      &.bg-ornament{
        &:before{
          display: none;
        }

        &:after{
          background-image: url("../img/product/bg-ornament.png");
        }
      }
    }
  }
}

.slider-thumbnail{
  width: 70px;
  height: 100%;
  position: relative;
  @include device(tablet) {
    width: 50px;
  }

  @include device(mobile) {
    width: 50px;
  }
  .thumbelina{
    position: relative;
    padding: 0;
    li{
      padding: 0;
      cursor: pointer;
      list-style: none;
      img{
        opacity: 0.5;
        width: 70px;
        height: auto;
        border: 0;
        transition: all 0.3s ease-in-out;

        @include device(tablet) {
          width: 50px;
        }

        @include device(mobile) {
          width: 50px;
        }

        &.cloudzoom-gallery-active, &:hover{
          opacity: 1;
        }
      }

      + li{
        margin-top: 5px;
      }
    }
  }
}

.slider-zoom{
  img{
    width: 100%;
  }
}

.product{
  &-title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  &-share{
    font-size: 24px;
    color: $primary;
  }
  &-meta{
    font-family: $roboto;
    font-weight: 400;
    font-size: 14px;
    color: #363636;
    margin-bottom: 0;
  }
  &-price{
    font-size: 36px;
    color: $primary;
    font-weight: 900;
    margin-bottom: 20px;
  }

  &-vendor{
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;

    &__item{
      margin-right: 15px;
      margin-bottom: 15px;
      input{
        display: none;

        + label{
          padding: 0;
          margin: 0;
          cursor: pointer;

          img{
            transition: all 0.3s ease-in-out;
            max-width: 80px;
            height: auto;
            filter: grayscale(100);
            opacity: 0.8;
          }

          &:hover{
            img{
              filter: grayscale(0);
              opacity: 1;
            }
          }
        }

        &:checked{
          + label{
            img{
              filter: grayscale(0);
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &-qty{
    display: flex;
    align-items: center;
    border-bottom: 1px solid $black;
    .btn{
      font-size: 24px;
      padding: 0;
    }
    .form-control{
      padding: 0;
      font-size: 24px;
      font-weight: normal;
      color: $black;
      text-align: center;
      border: none;
      background-color: transparent;
    }
  }

  &-action{
    margin-top: 50px;

    .btn{
      margin-bottom: 15px;
      @include device(mobile){
        display: block;
        width: 100%;
        text-align: center;
      }
    }
  }

  &-description{
    p{
      font-size: 16px;
      line-height: 30px;
    }
  }
}
